body {
	font-size: 18px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

section {
	min-height: 675px;
}

#landing_page {
	display: table;
	position: relative;
	width: 100%;
	height: 675px;
	background-image: url("/RTS/resources/img/bg-large.jpg");
	background-size: cover;
}

/*.bg-img {
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.bg-img img {
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	min-width: 50%;
	min-height: 50%;
	max-width: 100%;
	margin-top: -10px;
}*/
	
.intro-container {
	position: absolute;
	width: 100%;
	height: 100%;
}	

.title {
	top: 40%; 
	color: white;
	text-align: center;
}

/* search form */
.search-form-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 30px;
	padding-bottom: 30px;
	background: rgba(0,0,0,0.6);
}
#search_form {
	left: 0;
	right: 0;
	bottom: 0;
	width: 760px;
	height: 44px;
	margin: auto;
}
#from, #to, #time, #time_type {
	width: 130px;
	height: 44px;

	border: 1px solid #c4c4c4;
	border-radius: 0px;
	background-color: white;
	color: black;
	padding: 8px 10px;
	font-size: 16px;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#from {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
#time {
	width: 250px;
}
#submit_search {
	height: 44px;
	margin: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Fix popup scrollbar problem */
/*-----------------------------------------------*/
html {
	overflow-y: scroll;
}
body, login-form {
	padding-right: 0!important;
}
/*-----------------------------------------------*/

.bg-transparent {
	background-color: transparent!important;
}

.darken {
	background: rgba(20,25,32,0.35);
}

/* Fix breadcrumb in navbar */
.nav .breadcrumb {
    margin-bottom: 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 10px 10px;
    }
}
/*---------------------------*/
	
	
.dt-loading{background:rgba(0,0,0,1);width:100%;height:100%;z-index:101;text-align:center;position:fixed;top:0;bottom:0;left:0;right:0;padding:20% 0}
.laying{background-color:rgba(0,0,0,0);border:5px solid rgba(97,225,255,0.9);opacity:.9;border-right:5px solid rgba(0,0,0,0);border-left:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 35px #187BD8;width:50px;height:50px;margin:0 auto;-moz-animation:spinPulse 1s infinite ease-in-out;-webkit-animation:spinPulse 1s infinite ease-in-out;-o-animation:spinPulse 1s infinite ease-in-out;animation:spinPulse 1s infinite ease-in-out}
.layout{background-color:rgba(0,0,0,0);border:5px solid rgba(97,145,255,0.9);opacity:.9;border-left:5px solid rgba(0,0,0,0);border-right:5px solid rgba(0,0,0,0);border-radius:50px;box-shadow:0 0 15px #187BD8;width:30px;height:30px;margin:0 auto;position:relative;top:-40px;-moz-animation:spinoffPulse 1s infinite linear;-webkit-animation:spinoffPulse 1s infinite linear;-o-animation:spinoffPulse 1s infinite linear;animation:spinoffPulse 1s infinite linear}
@-moz-keyframes spinPulse{
	0{-moz-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #187BD8}
	50%{-moz-transform:rotate(145deg);opacity:1}
	100%{-moz-transform:rotate(-320deg);opacity:0}
}
@-moz-keyframes spinoffPulse{
	0{-moz-transform:rotate(0)}
	100%{-moz-transform:rotate(360deg)}
}
@-webkit-keyframes spinPulse{
	0{-webkit-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #187BD8}
	50%{-webkit-transform:rotate(145deg);opacity:1}
	100%{-webkit-transform:rotate(-320deg);opacity:0}
}
@-webkit-keyframes spinoffPulse{
	0{-webkit-transform:rotate(0)}
	100%{-webkit-transform:rotate(360deg)}
}
@-o-keyframes spinPulse{
	0{-o-transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #187BD8}
	50%{-o-transform:rotate(145deg);opacity:1}
	100%{-o-transform:rotate(-320deg);opacity:0}
}
@-o-keyframes spinoffPulse{
	0{-o-transform:rotate(0)}
	100%{-o-transform:rotate(360deg)}
}
@keyframes spinPulse{
	0{transform:rotate(160deg);opacity:0;box-shadow:0 0 1px #187BD8}
	50%{transform:rotate(145deg);opacity:1}
	100%{transform:rotate(-320deg);opacity:0}
}
@keyframes spinoffPulse{
	0{transform:rotate(0)}
	100%{transform:rotate(360deg)}
}