<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RTS</display-name>
  <description>Rail-way Ticket System</description>
  <welcome-file-list>
  	<!-- TODO welcome page -->
  	<welcome-file></welcome-file>
  </welcome-file-list>
  
  <!-- Spring Listeners and Corresponding parameters -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
	  /WEB-INF/rts-*.xml
	</param-value>
  </context-param>
  	
  
</web-app>